<html>
    <head>
        <title>Staging Environments</title>
        <style>
            .body {
                padding: 10px;
                font-family: 'Bitstream Vera Sans', 'Trebuchet MS', Sans-Serif;
                color: #222;
            }
        </style>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    </head>
    <body>
        <h2>Staging Environments</h2>
        <table border="1">
            <thead>
            <th>Name</th>
            <th>Repository</th>
            <th>Branch</th>
            <th>Last commit</th>
            <th>Status</th>
            <th>URL</th>
            </thead>
            {% for environment in environments %}
                <tr>
                    <td>{{ environment.name }}</td>
                    <td>{{ environment.repository }}</td>
                    <td><code>{{ environment.branch }}</code></td>
                    <td><code>{{ environment.sha }}</code></td>
                    <td>{{ environment.get_status_display }}</td>
                    <td><a href="{{ environment.url }}" target="_new">
                        {{ environment.url }}
                    </a></td>
                </tr>

            {% endfor %}
        </table>
        <p>&nbsp;</p>

        <h2>Allowed Repositories</h2>
        <p>Only requests from repositories in this list will be processed, and will be assigned a staging environment.</p>
        <table border="1">
            <thead>
            <th>Repository</th>
            <th>Allowed by</th>
            <th>Created</th>
            </thead>
            {% for repo in repositories %}
                <tr>
                    <td>{{ repo.url }}</td>
                    <td>{{ repo.allowed_by }}</td>
                    <td>{{ repo.created|date }}</td>
                </tr>

            {% endfor %}
        </table>
        <p>&nbsp;</p>


    </body>
</html>